<div class="jumbotron">
    <div class="container">
        <h3>Customers</h3>
        <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
            <tr align="center">
            <th>ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
            </tr>
            </thead>
        <tbody>
            <tr *ngFor="let Customers of data" align="center">
                <td>{{Customers.Id}}</td>
                <td>{{Customers.Email}}</td>
                <td>{{Customers.FirstName}}</td>
                <td>{{Customers.LastName}}</td>
                <td>
                    <form [formGroup]="viewOrdersForm" (submit)="onSubmit(Customers.Id)">
                        <span class="form-group" align="center">
                            <button class="btn btn-primary">Edit Order</button>
                        </span>
                        </form>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr align="center">
                <th>ID</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </tfoot>
        </table>
    </div>
</div>