<div class="jumbotron">
    <div class="container"> 
        <div class="row">
            <div class="col-md-6 offset-md-3">
            <h3>Update Order</h3>
            <form [formGroup]="updateOrderForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Order ID</label>
                    <input type="number" formControlName="orderId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.orderId.errors }" />
                    <div *ngIf="submitted && f.orderId.errors" class="invalid-feedback">
                        <div *ngIf="f.orderId.errors.required">Order ID is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Status ID</label>
                    <input type="number" formControlName="statusId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.statusId.errors }" />
                    <div *ngIf="submitted && f.statusId.errors" class="invalid-feedback">
                        <div *ngIf="f.statusId.errors.required">Status ID is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Update Order</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>