<div class="jumbotron">
    <div class="container">
        <h3>Cart</h3>
        <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="row-border hover">
            <thead>
            <tr align="center">
              <th>Number of Items</th>
              <th>Total cost</th>
              <th>Total Quantity</th>
              <th></th>
              </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>{{numberOfItems}}</td>
                    <td>{{totalPrice}}</td>
                    <td>{{totalQuantity}}</td>
                    <td><form (ngSubmit)="onSubmit1()">
                        <span class="form-group">
                            <button class="btn btn-primary">Place Order</button>
                        </span>
                        </form >
                </td>
                </tr>
            </tbody>
            <tfoot>
                <tr align="center">
                    <th>Number of Items</th>
                    <th>Total cost</th>
                    <th>Total Quantity</th>
                    <th></th>
                </tr>
            </tfoot>
          </table>
        <br><br>
        <h3>Cart Items</h3>
        <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
            <tr align="center">
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Items of data" align="center">
                    <td>{{Items.Id}}</td>
                    <td>{{Items.Name}}</td>
                    <td>{{Items.Description}}</td>
                    <td>{{Items.Price}}</td>
                    <td>{{Items.Quantity}}</td>
                    <td>
                        <form [formGroup]="deleteForm" (submit)="onSubmit(Items.Id)">
                            <span class="form-group">
                                <button class="btn btn-primary" style="background-color: #4d0000">Delete</button>
                            </span>
                        </form>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr align="center">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
  </div>
</div>