<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 align="center">Vinyl Store User Deletion</h3>
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group" align="center">
                        <button class="btn btn-primary" style="background-color: #4d0000">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>