<div class="jumbotron">
  <div class="container">  
    <table datatable class="row-border hover">
      <thead></thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>price</th>
        <th>quantity</th>
        </tr>
      
      <tbody>
          <tr *ngFor="let Vinyls of data">
              <td>{{Vinyls.Id | json}}</td>
              <td>{{Vinyls.Name}}</td>
              <td>{{Vinyls.Description}}</td>
              <td>{{Vinyls.Price}}</td>
              <td>{{Vinyls.Quantity}}</td>
              </tr>
      </tbody>
    </tabledatatable class="row-border hover">
  </div>
</div>